/* 
.hero-btn-style {
    display: flex;
} */

.hero-btn{
display: flex;
justify-content: flex-start;
gap: 10px;
}

.hero-btn button{
height: auto;
padding: 5px 15px;
}



@media only screen and (max-width: 600px) {
    .two-column{
        display: flex;
        padding: 1rem;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .left-col{
        width: 60%;
        padding: 3rem 3rem 0rem 3rem;
        margin: 1rem;
    }
    
    .right-col{
        width: 80%;
        padding: 0rem 3rem 3rem 3rem;
        text-align: left;
    }
  }

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .two-column{
        display: flex;
        padding: 1rem;
        align-items: center;
        text-align: center;
    }
    
    .left-col{
        width: 30%;
        /* padding: 5rem; */
        margin: 3rem;
    }
    
    .right-col{
        width: 30%;
        padding: 2rem;
        text-align: left;
    }
}

@media only screen and (min-width: 769px) {
    .two-column{
        display: flex;
        padding: 1rem;
        align-items: center;
        text-align: center;
    }
    
    .left-col{
        width: 30%;
        padding: 5rem;
        margin: 3rem;
    }
    
    .right-col{
        width: 70%;
        padding: 2rem;
        text-align: left;
    } 
}