.sf-help-request-main-container {
  height: 90%;
  width: 95%;
  float: right;
  background-color: #d9f2fd;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sf-help-request-scroll {
    overflow-y: scroll;
    max-height: 80%;
    width: 85%;
    margin-right: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .sf-help-request-scroll::-webkit-scrollbar {
    width: 18px;
    margin-right: 20%;
  }
  
  .sf-help-request-scroll::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
  .sf-help-request-scroll::-webkit-scrollbar-thumb {
    background-color: #43c0f6;
    height: 10px;
    width: 15px;
    border-radius: 10px;
  }

.sf-help-request-title {
  color: #707070;
  font-size: medium;
  font-family: nunito;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.sf-help-request-text {
 margin-right: 35vw;
}

.sf-help-request-button {
  font-family: 'Nunito', sans-serif; 
  font-weight: bold;
  cursor: pointer;
  font-size: small;
  background-color: transparent;
  border: none;
  margin-right: 2vw;
}

.sf-help-request-image {
  height: 2vh;
}

.sf-help-request-container {
  display: flex;
  flex-direction: column;
  margin-top: 23rem; /* have added this to bring down students slipped under the top bar*/
  /* flex-wrap: wrap; */ 
  /* margin-top: 22vh; */ /* Delete this as this is pushing student container upwards underneath parent container  */
  margin-left: 3%;
  margin-right: 2%;
}

.help-request-checkbox-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.sf-help-request-student-requests {
  border-radius: 10px;
  height: 12vh;
  width: 60vw;
  background-color: white;
  font-size: medium;
  color: #707070;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3%;
  box-shadow: 0 6px 8px #c5c4c4;
}

.sf-help-request-pic {
  height: 8vh;
  width: 10%vw;
  padding: 2%;
}

.sf-date-time-container {
  display: flex;
  flex-direction: column;
  font-size: small;
  line-height: 0.1;
}


.help-request-checkbox-button {
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
  margin-right: 1vw;
  background-color: white;
}

.help-request-checkbox-button:focus {

background-color: #707070;
border: none;


}